* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    font-size: 20px;
}


p {
	margin-bottom: 50px;
	margin-top: 20px;
}

label {
    font-size: 36px;
}

input {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px 40px;
	border-radius: 8px;
    font-size: 20px;
}

button {
	padding: 20px 40px;
	margin: 20px;
	cursor: pointer;
	background: none;
	color: #fff;
	font-size: 18px;
	border: 3px solid #ddd;
	border-radius: 8px;
	transition: 0.3s;
	text-transform: uppercase;
    
    &:hover {
        background-color: #ddd;
        color: #000;
    }
}
